# {{project_name}}

Por {{author_fullname}}

## Instalación

```julia
using Pkg
Pkg.add("{{project_name}}")
```

## Uso

```julia
using {{project_name}}

# TODO: Agregar ejemplos de uso
```

## Licencia

{{license}}
