# {{project_name}}

Documentation para {{project_name}}.jl

## Instalación

```julia
using Pkg
Pkg.add("{{project_name}}")
```

## Uso

```julia
using {{project_name}}

# TODO: Agregar ejemplos
```

## API

```@index
```

```@autodocs
Modules = [{{project_name}}]
```
